@using ECommerce.Data;
@using ECommerce.Models;
@{
    List<ECommerce.Models.Attribute> Attributes = ViewBag.Attributes;
    List<Preset> Presets = ViewBag.Presets;
    List<SubCategory> SubCategories = ViewBag.SubCategories;
}

<script src="~/js/checkbox.js"></script>
<script src="~/js/dropdown.js"></script>
<script src="~/js/adders.js"></script>
<script src="~/js/updaters.js"></script>
<script src="~/js/deleters.js"></script>
<script src="~/js/jQuery.js"></script>

<div class="form">
    <p class="formHeader"> Додати новий пресет </p>
    <form action="post" autocomplete="off">
        <input class="formInput" id="inputName" type="text" name="Preset.Name" placeholder="Введіть назву пресету">
        
        <div class="dropdown">
            <a class="dropdownButton" id="dropdownButton" onclick="showList('dropdownList', 'dropdownButton')"> Список субкатегорій </a>
            <div class="dropdownContent" id="dropdownList">
                @for(int i = 0; i < SubCategories.Count; i++)
                {
                    <div class="checkboxListItem" onclick="check('radio@(i)')">
                        <input name="presetId" type="radio" class="checkbox" id="radio@(i)" value="@SubCategories[i].Id">
                        <label>@(i + 1). @SubCategories[i].Name</label>
                    </div>
                }
            </div>
        </div>

        <div class="dropdown">
            <a class="dropdownButton" id="dropdownButtonRadio" onclick="showList('dropdownListRadio', 'dropdownButtonRadio')"> Список атрибутів </a>
            <div class="dropdownContent" id="dropdownListRadio">
                @for(int i = 0; i < Attributes.Count; i++)
                {
                    <div class="checkboxListItem" onclick=" check('checkbox@(i)')">
                        <input type="checkbox" class="checkbox" id="checkbox@(i)" value="@Attributes[i].Id">
                        <label for="checkbox@(i)">@(i + 1). @Attributes[i].Name</label>
                    </div>                    
                }
            </div>
        </div>
        
        <a class="formButton" onclick="addPreset('inputName', @Attributes.Count, @SubCategories.Count)"> Додати </a>
    </form>
</div>

<hr>

@for(int i = 0; i < Presets.Count; i++)
{
    <div class="form">
    <p class="formHeader"> №@(i + 1) </p>
    <form action="post" autocomplete="off">
        <input readonly class="formInput" id="inputId@(i)" type="text" name="Preset.Id" value="@Presets[i].Id">
        <input readonly class="formInput" id="inputSubCategory@(i)" type="text" name="Preset.Id" value="@Presets[i].SubCategory.Name">
        <input class="formInput" id="inputName@(i)" type="text" name="Preset.Name" value="@Presets[i].Name" placeholder="Введіть назву пресету">
        
        <div class="dropdown">
            <a class="dropdownButton" id="dropdownButton@(i)" onclick="showList('dropdownList@(i)', 'dropdownButton@(i)')"> Список </a>
            <div class="dropdownContent" id="dropdownList@(i)">
                @for(int j = 0; j < Attributes.Count; j++)
                {
                    ECommerce.Models.Attribute attribute = Attributes[j];
                    bool exists = false;
                    for(int k = 0; k < Presets[i].Preset_Attributes.Count; k++)
                    {
                            if (Presets[i].Preset_Attributes[k].Attribute == attribute)
                            {
                                exists = true;
                                break;
                            }  
                    }

                    if(exists)
                    {
                        <div class="checkboxListItem" onclick="check('checkbox@(i)@(j)')">
                            <input type="checkbox" checked="checked" class="checkbox" id="checkbox@(i)@(j)" value="@Attributes[j].Id">
                            <label for="checkbox@(i)@(j)">@(j + 1). @Attributes[j].Name</label>
                        </div> 
                    } else
                    {
                        <div class="checkboxListItem" onclick="check('checkbox@(i)@(j)')">
                            <input type="checkbox" class="checkbox" id="checkbox@(i)@(j)" value="@Attributes[j].Id">
                            <label for="checkbox@(i)@(j)">@(j + 1). @Attributes[j].Name</label>
                        </div>   
                    }                                           
                }
            </div>
        </div>
        
        <table class="buttonsHolder">
            <tr>
                <td><a class="button" onclick="updatePreset('inputId@(i)', 'inputName@(i)', @Attributes.Count, @(i))">Змінити</a></td>
                <td><a class="button deleteButton" onclick="deletePreset('inputId@(i)')">Видалити</a></td>
            </tr>
        </table>
    </form>
</div>
}
